<ion-side-menus enable-menu-with-back-views="false">>
      <!-- Conteúdo -->
      <ion-side-menu-content>
           <!-- HEADER -->
           <div class="bar bar-header bar-positive">
               <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
               <h1 class="title">ngCordova Tester</h1>
           </div>
          <ion-nav-view name="menuContent"></ion-nav-view>
          <div class="bar bar-footer mee-footer">
              <div class="title">Powered By GRM</div>
          </div>
     </ion-side-menu-content>

      <!-- Menu Slide Left -->
      <ion-side-menu side="left">
          <ion-header-bar class="bar-positive">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content>
              <menu-item></menu-item>
          </ion-content>
      </ion-side-menu>
</ion-side-menus>
